body {
    font-family: Arial, sans-serif;
    background-color: #ffefdd;
    margin: 0;
    padding: 0;
  }

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #ffcbdd;
    border-bottom: 1px solid #ffcbdd;
}

.back-button{
    flex-basis: 15%;
}

.back-button a{
    text-decoration: none;
    color: #ddd;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

p{
    font-weight: bold;
    text-align: center;
}
